[submodule "godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.0
[submodule "SimpleBLE"]
	path = thirdparty/simple-ble
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE
	branch = main
