# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exports so installing via AssetLib is easier.
.github                   export-ignore
.vscode                   export-ignore
experiments               export-ignore
icons                     export-ignore
src                       export-ignore
tests                     export-ignore
.clang-format             export-ignore
.gitattributes            export-ignore
.gitignore                export-ignore
.gitmodules               export-ignore
CONTRIBUTING.md           export-ignore
Makefile                  export-ignore
SConstruct                export-ignore
SCsub                     export-ignore